JpgImage_1 RCDATA "wwwroot\\images\\backgrounds\\01.jpg"
JpgImage_2 RCDATA "wwwroot\\images\\backgrounds\\02.jpg"
JpgImage_3 RCDATA "wwwroot\\images\\backgrounds\\03.jpg"
JpgImage_4 RCDATA "wwwroot\\images\\backgrounds\\04.jpg"
JpgImage_5 RCDATA "wwwroot\\images\\backgrounds\\05.jpg"
JpgImage_6 RCDATA "wwwroot\\images\\backgrounds\\06.jpg"
JpgImage_7 RCDATA "wwwroot\\images\\backgrounds\\08.jpg"
JpgImage_8 RCDATA "wwwroot\\images\\backgrounds\\09.jpg"
JpgImage_9 RCDATA "wwwroot\\images\\backgrounds\\bg-17.jpg"
JpgImage_10 RCDATA "wwwroot\\images\\backgrounds\\bg-18.jpg"
