@LayoutPage ./Components/layout/mainLayout/mainLayout

@page.counter

@ExtraHeader {
    <title>Counter</title>
    <link rel="stylesheet" href="./Components/Pages/counter/counter.css" />
}

<h1>Counter</h1>


<div>
    <form hx-post="/Counter"
          hx-target="#counter-content"
          hx-swap="outerHTML">

        <p role="status">Current count:
           <input class="inputlabel" name="count" type="text" id="counter-content" value="0">
        </p>

        <button type="submit" class="btn bg-danger text-white mt-2">Click me</button>
    </form>
</div>



